 @media screen and (max-width: 1400px) {
  .about-containers {
    flex-wrap: wrap;
  }
 }

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #burger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #about{
    display: flex;
    flex-direction: column;
  }
  .about-pic{
    width: 100%
  }
  article {
    font-size: 1rem;
  }
  footer {
    margin-bottom: 2rem;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    display: flex;
    gap: 1rem;
    text-align: center;
  }
  .title {
    font-size: 2rem;
  }
  
} 
