.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: italic;
}

*{
  font-family: roboto, serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #f9faf8;
  background-color: #1f2937;
  border-bottom: 1px #e5e7eb solid;
}

.logo {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

ul {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  list-style: none;
}

ul li a {
  color: #e5e7eb; 
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  position: relative;
}


ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px; 
  width: 0;
  height: 2px; 
  background-color: currentColor; 
  transition: width 0.4s ease; 
}

ul li a:hover::after {
  width: 100%; 
}

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #e5e7eb;
  background-color: #1f2937;
}

.hero-container {
  margin: 20px 0;
  display: flex;
  gap: 1rem;
}

.about-me-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.image-container {
  display: flex;
  gap: 1rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

h1 {
  margin: 0;
}

.description {
  margin: 0;
  font-size: 16px;
  max-width: 500px;
}

button {
  background-color: #3882f6;
  text-transform: uppercase;
  color: #f9faf8;
  width: 100px;
  border-radius: 10px;
  border: 2px white solid;
  padding: 6px;
  cursor: pointer;
}

#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
}

.section-title {
  text-transform: uppercase;
}

.project {
  max-width: 150px;
}

.projects-container {
  display: flex;
  gap: 3rem;
  text-align: center;
}

.project-frame {
  width: 150px;
  height: 150px;
  border: 3px solid #3882f6;
  border-radius: 10px;

}

#testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e7eb;
}

.testimonial-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}

.quotes {
  font-size: 36px;
  color: #1f2937;
}

#contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: flex;
  width: 600px;
  height: 70px;
  background-color: #3882f6;
  border-radius: 10px;
  margin: 2rem 0;
  padding: 2rem;
  gap: 1rem;
}

.contact-container h2 {
  color: #f9faf8;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  height: 70px;
}