/* GENERAL */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(177, 177, 177);
}

body {
  font-family: 'Poppins', sans-serif;
  background: black;
  font-size: 18px;
} 
a,
button {
  transition: all 500ms ease;
}

/* DESKTOP NAV */
nav,
.nav-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1rem;
}
.logo {
  font-size: 2rem;
}
.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}
a{
  display: block;
  color: rgb(177, 177, 177);
  text-decoration: none;
}
a:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: .3rem;
  text-decoration-color: white;
}

/* BURGER MENU */

#burger-nav {
  display: none;
}

.burger-menu {
  position: relative;
  left: 45%;
  display: inline-block;
}

.burger-icon {
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  margin: 5px 0;
}

.burger-icon span {
  width: 100%;
  height: 2px;
  transition: all 300ms ease-in-out;
  border: rgb(177, 177, 177) .1rem solid;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: -10px;
  background-color: rgb(0, 0, 0 , 0.2);
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition:  all 300ms ease-in-out;
}

.menu-links a {
  display: block;
  padding: 15px 5px;
  text-align: center;
  font-size: 1.1rem;
  color: rgb(177, 177, 177);
  text-decoration: none;
  transition:  all 300ms ease-in-out;
}

.menu-links a:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: .3rem;
  text-decoration-color: white;
  transition:  all 300ms ease-in-out;
}

.menu-links li{
  list-style: none;
}
.menu-links.open {
  max-height: 300px;
}

.burger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.burger-icon.open span:nth-child(2) {
  opacity: 0;
}

.burger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.burger-icon span:first-child {
  transform: none;
}

.burger-icon span:first-child {
  opacity: 1;
}

.burger-icon span:first-child {
  transform: none;
}

/* TITLE */

.title-container p {
  display: flex;  
  flex-direction: column;
  align-items: center;
}
.small-title {
  font-weight: 700;
  color: rgb(177, 177, 177);
}
.title{
  font-size: 3rem;
  text-align: center;
  color: rgb(177, 177, 177);
}

/* PROFILE SECTION */
#profile {
  background: rgba(67, 153, 250, 0.562);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
  padding: 1rem 0;
}
.profile-pic-container{
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: rgb(177, 177, 177) 0.2rem solid;
  border-radius: 50%;
}
.profile-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -40%; 
  height: 100%;
  width: auto;
}
.profile-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.title-container{
  margin: 1rem;
  width: 100%;
}
.socials-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
 /* BUTTONS */

 .btn-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
 }
 button {
  font-weight: 600;
  padding: .5rem;
  width: 7rem;
  border-radius: 2rem;
  color: white;
  background: rgb(53,53,53);
  border: rgb(177, 177, 177) 0.2rem solid;
 }
  button:hover {
  cursor: pointer;
  background: whitesmoke;
  color: rgb(53,53,53);
 }

 /* ABOUT SECTION */

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.about-title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-pic-container{
  overflow: hidden;
  width: 275px;
  height: 350px;
  border: rgb(177, 177, 177) 0.2rem solid;
  border-radius: 10%;
  margin-top: 1rem;
}
.about-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  color: rgb(177, 177, 177);
}
.about-me {
  font-weight: 400;
  margin-bottom: 1rem;
}
.about-title{
  color: rgb(177, 177, 177);
  margin-bottom: 5px;
}
 /* PROJECTS SECTION */

#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
  background: black;
  border-radius: 1rem;
  border: rgb(177, 177, 177) 0.2rem solid;
}
.project-img {
  border-radius: 1rem;
  width: 90%;
  height: 90%;
}
.project-title {
  margin: 1rem;
  color: rgb(177, 177, 177);
}

/* CONTACT */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
  margin: 0 1rem;
  background: black;
  border-radius: 1rem;
  border: rgb(177, 177, 177) 0.2rem solid;
}
.contact-info {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin: 1rem;
}
.contact-icon {
  cursor: default;
}
/* FOOTER SECTION */
footer{
  text-align: center;
  margin: 1rem;
}


@media screen and (min-width: 1024px) {
  nav {
    gap: 6rem;
  }
  #profile{
    gap: 8rem;
  }
  .profile-pic-container {
    width: 275px;
    height: 275px;
  }
  .about-title-container {
    width: 100%;
  }
  .about-pic-container {
    max-width: 50%;
    width: 355px;
    height: 450px;
  }
  .text-container {
    max-width: 30%;
    margin-left: 3rem;
  }
  /* ABOUT SECTION 

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.about-title-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-pic-container{
  overflow: hidden;
  width: 275px;
  height: 350px;
  border: rgb(177, 177, 177) 0.2rem solid;
  border-radius: 10%;
  margin-top: 1rem;
}
.about-pic {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
.about-me {
  font-weight: 400;
  margin-bottom: 1rem;
}
.about-title{
  color: rgb(177, 177, 177);
  margin-bottom: 5px;
} */
}



@media screen and (max-width: 600px) {
  
  #desktop-nav {
    display: none;
  }
  #burger-nav {
    display: flex;
  }
} 